html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f5f5f5;
}
.material-icons{
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
  color: #03a9f4 !important; 
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus{
  border-bottom: 1px solid #03a9f4 !important;
  box-shadow: 0 1px 0 0 #03a9f4 !important;
}

/* header 영역 */
#header{
  margin-bottom: 20px;
}
#slide-out{
  z-index: 5;
  padding-top: 65px;
}
.sidenav-overlay{
  z-index: 1;
  background-color: rgba(0,0,0,0);
}
#gnb {
  display: flex;
  position: relative;
  z-index: 10;
  height: 65px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
#gnb > #logo {
  display: flex;
  align-items: center;
}
#gnb > #logo > a {
  font-size: 2rem;
  color: #000;
}
.sidenav-trigger{
  margin: 0 15px;
}
#gnb > ul{
  display: flex;
  margin-right: 15px;
}
#gnb .btn-flat{
  font-weight: bold;
}
.btn{
  background-color: #03a9f4;
}
.btn:hover{
  background-color: #29b6f6;
}

/* board 영역 */
.content{
  width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.board-wrapper{
  display: flex;
  border-left:3px solid #03a9f4;
}
.board-title-wrapper{
  flex: 1;
}
.board-idx{
  font-size:.8rem;
}
.board-author-wrapper{
  font-size: .9rem;
}
.board-date{
  font-size: .8rem;
  color: #bdbdbd;
}
.pagination{
  display: flex;
  justify-content: center;
}
.pagination li>a{
  font-size: .95rem;
}
.pagination li.active{
  background-color: #03a9f4;
}

/* auth 영역 */
#auth-wrapper{
  width: 400px;
  margin: 25vh auto;
}
.auth-form{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 25px 0;
}
.auth-form > p{
  font-size: 2rem;
}
.auth-form > form{
  width: 320px;
}
.auth-form .btn{
  width: 320px;
}
.auth-options{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 25px 0;
}

/* article 영역 */
.article-wrapper{
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.article-content{
  padding: 15px;
}
.article-title{
  display: flex;
  justify-content: space-between;
}
.article-writer{
  font-size: 1.2rem;
}
.article-date{
  color: #bdbdbd;
  font-size: .8rem;
}
.article-option{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.article-property{
  display: flex;
  justify-content: space-between;
}
.article-property div{
  display: flex;
  align-items: flex-end;
  margin-left: .8rem;
}
.article-property div>i{
  font-size: 1.2rem;
  cursor: default;
  margin-right: .2rem;
}
.article-btns>a{
  color: #000;
  font-size: .9rem;
}
.article-subject{
  font-size: 1.5rem;
}
.article-main{
  padding-top:0px;
}
.hr{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
}
.article-author{
  margin-top: 25px;
}

/* footer 영역 */
#footer{
  border-top: 1px solid #bdbdbd;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  color: #bdbdbd;
  text-align: center;
  padding: 12px 0;
}